html, body {
  font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

#main-page-wrap {
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
}

.page-content {
    padding-top: 16%;
    padding-bottom: 8%;
}

.main-header {
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;

  div.logo {
      width: 9.5%;
      display: block;
      margin: auto;
      padding-top: 1rem;
  }

  div.links {
    display: block;
    padding-top: .3rem;
    padding-bottom: .4rem;

    ul {

        li {
          display: inline-block;
          text-align: center;
          margin-right: 3.625rem; // 58px over 16

          a.active {
            font-weight: 600;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
}

.site-footer {
  bottom: 0;
  left: 0;
  position: absolute;
  // padding: -100px;
  width: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;

  &.main-image {
    border-style: solid;
    border-width: 1px;
    border-color: $mediumGrey;
  }

  &.thumb {
      border-style: solid;
      border-width: 1px;
      border-color: $mediumGrey;

      &.houzz {
        // display: block;
        // max-width: 90%;
        // margin: auto;
      }
    }
}

ul.links {
  display: inline-block;

  li {
    display: inline-block;
    margin-right: 2.625rem; //
  }

  a {
    display: inline-block;
  }
}

ul {

  &.realgm-links {
    li {
      padding-bottom: .5rem;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  // li.jet-thumb {
  //   background-color: $white;
  //   margin: auto;
  //   max-width: 66%;
  // }
}


ul.list-grid-3 {
  li {
    display: inline-block;
    margin-right: 4.3478261%; // 66px over 1518px
    vertical-align: top;
    width: 30.1%; // 459px over 1518px

    &:nth-child(3n) {
          margin-right: 0;
    }
  }
}
