body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  // min-height: 100%;
    position: relative;
}

#wrap {
  min-height: 100%;
  position: relative;
}

#content {
  overflow: auto;
  padding-bottom: 30%;
  /* must be same height as the footer */
}

#footer {
  // height: 180px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: -30%;
  /* negative value of footer height */

  // clear: both;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;

  &.main-image {
    border-style: solid;
    border-width: 1px;
    border-color: $mediumGrey;
  }

  &.thumb {
      border-style: solid;
      border-width: 1px;
      border-color: $mediumGrey;

      &.houzz {
        // display: block;
        // max-width: 90%;
        // margin: auto;
      }
    }
}

ul.links {
  display: inline-block;

  li {
    display: inline-block;
    margin-right: 2.625rem; //
  }

  a {
    display: inline-block;
  }
}

.main-header {
  padding-bottom: 15.75%;
  position: fixed;
    top: 0;
    right: 0;
    left: 0;
  transform: translateZ(0);
  z-index: 10;

  div.header-wrap {
    position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    z-index: 10;
  }

  div.logo {
      width: 10.5%;
      display: block;
      margin: auto;
      padding-top: 1.5%;
  }

  div.links {
    display: block;
    padding-top: .3rem;

    ul {

        li {
          display: inline-block;
          text-align: center;
          margin-right: 3.625rem; // 58px over 16

          a.active {
            font-weight: 600;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
}

.standard-top-padding {
    padding-top: 15.75%;
}

ul {

  &.realgm-links {
    li {
      padding-bottom: .5rem;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  // li.jet-thumb {
  //   background-color: $white;
  //   margin: auto;
  //   max-width: 66%;
  // }
}


ul.list-grid-3 {
  li {
    display: inline-block;
    margin-right: 4.3478261%; // 66px over 1518px
    vertical-align: top;
    width: 30.1%; // 459px over 1518px

    &:nth-child(3n) {
          margin-right: 0;
    }
  }
}
