body {
  background-color: #000000;
  color: #E4E4E4;
}

svg {
  fill: #E4E4E4;
}

.dark-background {
  background-color: #373E3F;
}

.light-background {
  background-color: #434C4D;
}

a {
  color: #FFFFFF;

  &:hover {
    color: #ED145B;
  }
}
