body {
  background-color: #f0f0f0;
  color: #9fa9a3;
}

svg {
  fill: #E4E4E4;
}

.dark-background {
  background-color: #373E3F;
}

.light-background {
  background-color: #434C4D;
}

a {
  color: #9FA9A3;

  &:hover {
    color: #3B3A30;
  }
}
