$logoGrey: #666666;
$logoBlue: #89b8d4;
$hoverBlue: #0683ce;
$activeBlue: #3e465d;
$darkGrey: #4b4a4a;
$mediumGrey: #888686;
$lightGrey: #f0f0f0;
$white: #ffffff;
$activeNav: #9fa9a3;

body {
  background-color: $lightGrey;
  color: $mediumGrey;
}

svg {
  fill: #E4E4E4;
}

.white-background {
  background-color: $white;
}

.dark-background {
  background-color: #373E3F;
}

.light-background {
  background-color: #434C4D;
}

.main-header {

  div.header-wrap {
    background-color: $mediumGrey;
  }
}

a {
  color: $logoBlue;

  &:hover {
    color: $hoverBlue;
  }
}

h1 {
  color: $darkGrey;
}

.main-header {
  div.links {
    ul {
      li {
        a.active {
            color: $activeNav;
        }
      }
    }
  }
}
