@media all and (max-width: 640px) {

  .main-header {
    // padding-bottom: 20%;

    // div.header-wrap {
    //   background-color: green;
    // }

    div.logo {
        width: 10.5%;
    }

    div.links {
      display: block;
      padding-top: .025rem;

      ul {

          li {
            font-size: 1rem;
            margin-right: 1.625rem;
        }
      }
    }
  }

  .page-content {
      padding-top: 20%;
  }
}
