<!-- <div class="pac-page-width">
  <div class="pac-row">
    <div class="pac-col alpha grid-2 spacing-30-top">
      <img src="{{ site.baseurl }}images/logo.jpg" alt="Lenode Creative logo">
    </div>
    <div class="pac-col grid-2 empty"></div>
    <div class="pac-col omega grid-8">
      <ul class="links spacing-20-top">
        <li>
          <a class= "type-small-headline type-heavy" href="portfolio.html">Portfolio</a>
        </li>
        <li>
          <a class= "type-small-headline type-heavy" href="about.html">About</a>
        </li>
        <li>
          <a class= "type-small-headline type-heavy" href="contact.html">Contact</a>
        </li>
      </ul>
    </div>
    <div class="clear-block"></div>
  </div>
</div> -->

<div class="pac-page-width main-header">
  <div class="header-wrap">
    <div class="logo">
      <a href="index.html">
        <img src="{{ site.baseurl }}images/logo.jpg" alt="Lenode Creative logo">
      </a>
    </div>
    <div class="links box-content-centered">
      <ul class="type-normal-subhead">
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <a href="jet.html">Jet</a>
        </li>
        <li>
          <a href="realgm.html">RealGM</a>
        </li>
        <li>
          <a href="amazon.html">Amazon</a>
        </li>
        <li>
          <a href="houzz.html">Houzz</a>
        </li>
      </ul>
    </div>
  </div>
</div>
