<div class="pac-page-width main-header">
  <div class="header-wrap">
    <div class="logo">
      <a href="index.html">
        <img src="{{ site.baseurl }}images/logo.jpg" alt="Lenode Creative logo">
      </a>
    </div>
    <div class="links box-content-centered">
      <ul class="type-normal-subhead">
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <a href="realgm.html">RealGM</a>
        </li>
        <li>
          <a href="amazon.html">Amazon</a>
        </li>
        <li>
          <a href="jet.html">Jet</a>
        </li>
        <li>
          <a href="houzz.html">Houzz</a>
        </li>
      </ul>
    </div>
  </div>
</div>
