<div class="pac-page-width">
  <div class="pac-row">
    <div class="pac-col alpha grid-2">
      <img src="{{ site.baseurl }}images/logo.jpg" alt="Lenode Creative logo">
    </div>
    <div class="pac-col grid-2 empty"></div>
    <div class="pac-col omega grid-8">
      <ul class="links">
        <li>
          <a class= "type-small-headline type-heavy" href="#">Portfolio</a>
        </li>
        <li>
          <a class= "type-small-headline type-heavy" href="#">About</a>
        </li>
        <li>
          <a class= "type-small-headline type-heavy" href="#">Contact</a>
        </li>
      </ul>
    </div>
    <div class="clear-block"></div>
  </div>
</div>
