<div class="pac-row">
  <div class="pac-col alpha grid-1 empty"></div>
  <div class="pac-col grid-10">
    <div class="">
      <ul class ="links padding-20">
        <li>
          <a href="jet.html">Jet</a>
        </li>
        <li>
          <a href="realgm.html">RealGM</a>
        </li>
        <li>
          <a href="amazon.html">Amazon</a>
        </li>
        <li>
          <a href="houzz.html">Houzz</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="pac-col omega grid-1 empty"></div>
  <div class="clear-block"></div>
