$layout10px: .64516129rem;
$layout20px: 1.290322581rem;
$layout30px: 1.935483871rem;
$layout32px: 2.064516129rem;
$layout40px: 2.580645161rem;
$layout50px: 3.225806452rem;
$layout60px: 3.870967742rem;
$layout70px: 4.516129032rem;
$layout80px: 5.161290323rem;
$layout90px: 5.806451613rem;
$layout100px: 6.451612903rem;
$layout120px: 7.741935484rem;
$layout150px: 9.677419355rem;
$layout180px: 11.612903226rem;